:root {
	--bg-color: #000000;
	--fn-color: #ffffff;
	--bt-bgcolor: #ffffff;
	--bt-color: #000000;
}
[data-theme="light"] {
	--bg-color: #ffffff;
	--fn-color: #000000;
	--bt-bgcolor: #000000;
	--bt-color: #ffffff;
}
.light-dark-mode {
    min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--fn-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
    font-size: 2rem;
	transition: all 0.4s;
    text-align: center;
    font-weight: bold;
}
.light-dark-mode p{
    text-transform: uppercase;
}
.light-dark-mode button {
	background-color: var(--bt-bgcolor);
	color: var(--bt-color);
    padding : .5rem 1rem;
    font-size: 1.2rem;
    margin: 1rem;
}
